body {
    font-family: 'Inter', sans-serif;
    background-color: #1A1C19
}

.fullpage {
    max-width:1420px;
    margin:0 auto;
}

/* Nav Bar */

.navbar {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    justify-content: space-between;
    border:1px solid #B1A592;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 5px;
}

.leftnav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.navitems {
    border:1px solid #B1A592;
    box-sizing: border-box;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #e0d6c2;
    overflow-wrap: normal;
    padding:0px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.navitems:not(.companyname):hover {
    background-color: #B1A592;
    color: black;
}

.navitems.companyname {
   background-color: #323025;
   border:none;
}


a {
    text-decoration: none;
}

/* Main section Cards */

.maincont {
    display: flex;
    column-gap: 18px;
    margin-top: 18px;
}

/* Congreve Street Card */

.museum {
    background-color:#DFD6C5;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   width: 40vw;
   /* flex-shrink: 4; */
}

.div1 {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
}

.cardfooter {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-top:1px solid #333333;
    padding: 0px 30px;
}

.streetimg {
    display: flex;
    justify-content: center;
   
}

.streetimg img {
 width: 100%;
 margin-bottom: 30px;
}

.museum > div:not(.cardfooter) {
    margin: 0 30px 0 30px;
}

.cardname {
    border: 1px solid #323025;
    width: fit-content;
    border-radius: 50px;
    display: flex;
    padding: 0px 5px 0px;
    margin-top: 30px;
    align-items: center;
}

.cardname p {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
}

div.paratext {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    word-break: break-word;
    color: #333333;
}

.paratext span {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}


/* Right Cards */

.rightitems {
    width: 60vw;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

/* Bread Slicing Card */

.bread {
    background-color:#8E886D;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
}

.brdiv1 {
    display:flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin:0 30px 30px 30px;
    column-gap: 10px;
}

.brcont {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    flex-shrink: 1.5;
}


.brimg {
    margin-top: 30px;
    width: 100%;
}

.brimg img {
    width:100%;
   height: 100%;
}

/* Right Items- Row 2 */

.rightrow2 {
  display: flex;
  column-gap: 25px;
}

/* Portrait Card */

.portrait {
    background-color:#916E58;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   flex-shrink: 2;
   color: #333333;
}

.dots {
    display: flex;
    align-items: center;
}

.dots div{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #342415;
    /* height:30px; */
    margin: 0; 
    padding: 0;
}

.prtname {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.prtname h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.prtimg {
    width: 100%;
    margin-top: 0;
}

.prtpara {
    word-break: break-word;
}

.prtdiv :not(.cardfooter,.dots div,.cardfooter div) {
    margin: 16px 5px;
}

/* Vintage Painting Card */

.vintagepaint {
    background-color: #B1A48E;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   flex-grow: 2;
   color: #333333;
}

.vpdiv1 {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    margin:0 30px 30px 30px;
    column-gap: 0;
}

.vpcont {
    display: flex;
    justify-content: space-between;
    align-content:flex-start start;
}

.cardname.lastcard {
    margin-top: 60px;
    margin-bottom: 60px;
}

.vpimg {
    margin-top: 30px;
}

.vpdomain {
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    border-bottom-width: 10px;
    border-bottom-style: double;
    margin-bottom: 5px;
    padding: 10px;
}


